<form (submit)="addEmployee()">
    <app-modal>
      <h5 class="modal-title" modal-title>Novo Empregado</h5>
      <div class="modal-body" modal-body>
        <div class="form-group">
          <label>Nome</label>
          <input class="form-control" name="name" type="text" [(ngModel)]="employee.name"><br>
        </div>
        <div class="form-group">
          <label>Salário</label>
          <input class="form-control" name="salary" type="text" [(ngModel)]="employee.salary"><br>
        </div>
        <div class="form-group" *ngIf="employee.salary < 1000">
          <label>Bônus</label>
          <input class="form-control" name="bonus" type="text" [(ngModel)]="employee.bonus"><br>
        </div>
      </div>
      <div class="modal-footer" modal-footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
      </div>
    </app-modal>
</form>
