<div class="container">
  <alert-success [hidden]="!showMessageSuccess">
    O empregado <strong>{{ employee?.name }}</strong> foi {{ descricaoAcao}} com sucesso!
  </alert-success>
  <div class="row">
    <h1>Nossos Empregados</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan="3">
            <button class="btn btn-primary" (click)="openNewModal()">Novo Empregado</button>
          </td>
        </tr>
        <th>Nome</th>
        <th>Salário</th>
        <th>Bônus</th>
        <th>Ações</th>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employeeService.employees">
        <td [innerHTML]="employee.name | uppercase"></td>
        <td [innerHTML]="employee.salary | myCurrency" [salaryColor]="employee.salary"></td>
        <!--<td [innerHTML]="employee.salary"-->
            <!--[ngClass]="getSalaryStyle(employee.salary)"></td>-->
        <td [innerHTML]="employee.bonus"></td>
        <td>
          <a href="javascript:void(0)" (click)="openEditModal(employee)">Editar</a> |
          <a href="javascript:void(0)" (click)="openDestroyModal(employee)">Excluir</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<app-employee-new-modal (onSubmit)="onNewEmployee($event)"></app-employee-new-modal>
<app-employee-edit-modal [employee]="employee" (onSubmit)="onEditEmployee($event)"></app-employee-edit-modal>
<app-employee-delete-modal [employee]="employee" (onDeleteModal)="onDestroyEmployee($event)"></app-employee-delete-modal>
